.comment-form
  = form_for [@market, @market.comments.new] do |f|
    .form-group
      = f.text_area :content, class: "form-control"

    .form-group
      = f.submit "Skicka", class: "btn btn-default"
