@import "bootswatch/united/variables";
@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

body {
  padding-top: 80px;
  padding-bottom: 40px;
}

@import "bootswatch/united/bootswatch";
@import "star-rating";
@import "base";
