/ ♥ Gosen
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} Loppmarknad
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if signed_in?
          %li
            = link_to "Ny marknad", new_market_path
          %li
            = link_to "Logga ut", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "Logga in", new_user_session_path
          %li
            = link_to "Registrera", new_user_registration_path
